In [1]:
import pandas as pd

data_by_venue = pd.read_html("http://www.cricmetric.com/playerstats.py?player=V+Kohli&role=all&format=ODI&groupby=venue&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999")

In [ ]:
### Code to check whether table exist in the webpage


import pandas as pd
import requests
from bs4 import BeautifulSoup



def Check_table_exist(url):
    #url = f"http://www.cricmetric.com/playerstats.py?player=Jasprit+Bumrah&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&vcountry=India&start_over=0&end_over=9999&opp_team=New%20Zealand"


    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content with BeautifulSoup
        soup = BeautifulSoup(response.text, 'html.parser')
    else:
        print(f"Failed to retrieve the web page. Status code: {response.status_code}")
        exit()


    # Example: Find the first table element with the 'class' attribute equal to 'my-table'
    table = soup.find('table', {'class': 'my-table'})

    # Check if the table exists on the web page
    if table:
        # The table exists; you can proceed to read it using Pandas
        df = pd.read_html(str(table))
        #return True
        # df now contains the DataFrame representing the table
    else:
        print("False")#return False
        
    return 0

print(Check_table_exist(f"http://www.cricmetric.com/playerstats.py?player=Rohit+Sharma&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&vcountry=India&start_over=0&end_over=9999&opp_team=New%20Zealand"))

In [189]:
Indian_Players = ['Rohit Sharma', 'Hardik Pandya', 'Shubman Gill', 'Virat Kohli', 
                  'Shreyas Iyer', 'KL Rahul', 'Ravindra Jadeja', 'Shardul Thakur', 'Jasprit Bumrah', 
                  'Mohammed Siraj', 'Kuldeep Yadav', 'Mohammed Shami', 
                  'Axar Patel', 'Ishan Kishan', 'Suryakumar Yadav']

Australian_Players = ['Pat Cummins', 'Steve Smith', 'Alex Carey', 'Josh Inglis', 'Sean Abbott', 'Ashton Agar', 
                      'Cameron Green', 'Josh Hazlewood', 'Travis Head', 'Mitch Marsh', 'Glenn Maxwell', 'Marcus Stoinis', 
                      'David Warner', 'Adam Zampa', 'Mitchell Starc']

England_Players = ['Jos Buttler', 'Moeen Ali', 'Gus Atkinson', 'Jonny Bairstow', 'Sam Curran', 'Liam Livingstone', 
                   'Dawid Malan', 'Adil Rashid', 'Joe Root', 'Jason Roy', 'Ben Stokes', 'Reece Topley', 'David Willey', 
                   'Mark Wood', 'Chris Woakes']

SouthAfrica_Players = ['Temba Bavuma', 'Gerald Coetzee', 'Quinton de Kock', 'Reeza Hendricks', 'Marco Jansen', 
                      'Heinrich Klaasen', 'Sisanda Magala', 'Keshav Maharaj', 'Aiden Markram', 'David Miller', 
                      'Lungi Ngidi', 'Anrich Nortje', 'Kagiso Rabada', 'Tabraiz Shamsi', 'Rassie van der Dussen']

Netherland_Players = ["Scott Edwards", "Max O'Dowd", "Bas de Leede", "Vikram Singh", "Teja Nidamanuru", 
                      "Paul van Meekeren", "Colin Ackermann", "Roelof van der Merwe", "Logan van Beek", 
                      "Aryan Dutt", "Ryan Klein", "Wesley Barresi", "Saqib Zulfiqar", "Shariz Ahmad", "Sybrand Engelbrecht"]

Newzealand_Players = ['Kane Williamson', 'Trent Boult', 'Mark Chapman', 'Devon Conway', 'Lockie Ferguson', 
                      'Matt Henry', 'Tom Latham', 'Daryl Mitchell', 'Jimmy Neesham', 'Glenn Phillips', 
                      'Rachin Ravindra', 'Mitch Santner', 'Ish Sodhi', 'Tim Southee', 'Will Young']

Afghanistan_Players = ['Hashmatullah Shahidi', 'Rahmanullah Gurbaz', 'Ibrahim Zadran', 'Riaz Hassan', 
                        'Rahmat Shah', 'Najibullah Zadran', 'Mohammad Nabi', 'Ikram Alikhil', 'Azmatullah Omarzai', 
                        'Rashid Khan', 'Mujeeb ur Rahman', 'Noor Ahmad', 'Fazalhaq Farooqi', 'Abdul Rahman', 
                        'Naveen ul Haq']

## Overall Batting Performance from 2021-23

In [82]:
### ODI Performance Function

def odi_performance(players):
    df_odi = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=all&format=ODI&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999")
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'ODI'
            df_odi = df_odi.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_odi

In [83]:
df_odi_indian = odi_performance(Indian_Players)
df_odi_indian = df_odi_indian.drop_duplicates(keep='first')
df_odi_indian['Format'] = 'ODI'
df_odi_indian['Country'] = 'India'
df_odi_indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3106912301.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_indian['Format'] = 'ODI'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3106912301.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_indian['Country'] = 'India'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Rohit Sharma,25,916,863,21,43.6,106.1,101,8,1,106,42,58.5,ODI,India
2,Hardik Pandya,19,591,584,18,32.8,101.2,87,5,0,48,20,46.2,ODI,India
4,Shubman Gill,29,1663,1614,24,69.3,103.0,208,8,5,190,33,48.4,ODI,India
6,Virat Kohli,26,987,977,24,41.1,101.0,166,5,4,91,17,42.0,ODI,India
8,Shreyas Iyer,20,838,898,18,46.6,93.3,113,6,1,84,15,49.2,ODI,India
10,KL Rahul,21,823,968,17,48.4,85.0,111,5,2,65,18,48.9,ODI,India
12,Ravindra Jadeja,11,174,302,7,24.9,57.6,45,0,0,10,1,58.9,ODI,India
14,Shardul Thakur,18,252,260,15,16.8,96.9,50,1,0,23,6,45.8,ODI,India
16,Jasprit Bumrah,5,49,70,3,16.3,70.0,16,0,0,6,0,58.6,ODI,India
18,Mohammed Siraj,12,36,84,5,7.2,42.9,9,0,0,2,0,70.2,ODI,India
20,Kuldeep Yadav,12,50,102,7,7.1,49.0,10,0,0,3,0,62.7,ODI,India
22,Mohammed Shami,6,49,51,4,12.2,96.1,23,0,0,4,2,49.0,ODI,India
24,Axar Patel,14,300,283,10,30.0,106.0,64,2,0,13,16,39.6,ODI,India
26,Ishan Kishan,19,814,803,18,45.2,101.4,210,7,1,83,29,52.4,ODI,India
28,Suryakumar Yadav,25,537,538,22,24.4,99.8,64,2,0,56,11,48.0,ODI,India

In [77]:
df_odi_australian = odi_performance(Australian_Players)
df_odi_australian = df_odi_australian.drop_duplicates(keep='first')
df_odi_australian['Country'] = 'Australia'
df_odi_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1716357562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_australian['Country'] = 'Australia'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Pat Cummins,3,39,51,3,13.0,76.5,35,0,0,3,0,52.9,ODI,Australia
2,Alex Carey,25,696,826,21,33.1,84.3,99,4,0,55,10,49.9,ODI,Australia
4,Josh Inglis,5,92,95,5,18.4,96.8,50,1,0,10,2,51.6,ODI,Australia
6,Sean Abbott,9,142,132,8,17.8,107.6,49,0,0,18,2,52.3,ODI,Australia
8,Ashton Agar,6,105,148,3,35.0,70.9,48,0,0,6,3,58.8,ODI,Australia
10,Cameron Green,12,281,315,5,56.2,89.2,89,1,0,22,7,47.9,ODI,Australia
12,Josh Hazlewood,7,41,32,1,41.0,128.1,23,0,0,5,1,46.9,ODI,Australia
14,Travis Head,16,791,660,13,60.8,119.8,152,5,2,92,24,46.5,ODI,Australia
16,Glenn Maxwell,11,260,221,9,28.9,117.6,80,1,0,24,12,52.5,ODI,Australia
18,Marcus Stoinis,15,265,269,15,17.7,98.5,49,0,0,24,8,48.7,ODI,Australia
20,David Warner,18,771,791,18,42.8,97.5,106,5,2,92,13,52.6,ODI,Australia
22,Adam Zampa,10,97,146,4,24.2,66.4,36,0,0,11,0,65.8,ODI,Australia
24,Mitchell Starc,8,82,126,6,13.7,65.1,38,0,0,6,2,62.7,ODI,Australia

In [84]:
df_odi_england = odi_performance(England_Players)
df_odi_england = df_odi_england.drop_duplicates(keep='first')
df_odi_england['Country'] = 'England'
df_odi_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1596180933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_england['Country'] = 'England'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Jos Buttler,22,968,850,19,50.9,113.9,162,5,2,71,37,41.3,ODI,England
2,Moeen Ali,20,470,538,19,24.7,87.4,51,1,0,38,17,53.2,ODI,England
4,Gus Atkinson,1,2,3,1,2.0,66.7,2,0,0,0,0,33.3,ODI,England
6,Jonny Bairstow,13,446,423,13,34.3,105.4,124,2,1,45,16,52.5,ODI,England
8,Sam Curran,15,358,332,12,29.8,107.8,95,1,0,23,18,45.2,ODI,England
10,Liam Livingstone,14,436,373,11,39.6,116.9,95,3,0,29,22,42.9,ODI,England
12,Dawid Malan,20,1022,1058,16,63.9,96.6,134,5,5,97,23,46.8,ODI,England
14,Adil Rashid,11,90,121,5,18.0,74.4,19,0,0,6,1,50.4,ODI,England
16,Joe Root,11,284,344,9,31.6,82.6,86,3,0,17,3,47.4,ODI,England
18,Jason Roy,21,788,782,20,39.4,100.8,132,3,3,110,10,53.7,ODI,England
20,Ben Stokes,12,477,424,12,39.8,112.5,182,2,1,39,23,47.6,ODI,England
22,Reece Topley,6,12,21,2,6.0,57.1,6,0,0,0,1,71.4,ODI,England
24,David Willey,11,208,199,7,29.7,104.5,41,0,0,19,7,47.7,ODI,England
26,Mark Wood,2,16,28,1,16.0,57.1,14,0,0,1,0,60.7,ODI,England
28,Chris Woakes,8,78,108,6,13.0,72.2,34,0,0,6,0,51.9,ODI,England

In [87]:
df_odi_southAfrica = odi_performance(SouthAfrica_Players)
df_odi_southAfrica = df_odi_southAfrica.drop_duplicates(keep='first')
df_odi_southAfrica['Country'] = 'SouthAfrica'
df_odi_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2148423735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_southAfrica['Country'] = 'SouthAfrica'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Temba Bavuma,22,1032,1136,18,57.3,90.8,144,3,4,98,16,49.3,ODI,SouthAfrica
2,Gerald Coetzee,2,3,11,2,1.5,27.3,2,0,0,0,0,72.7,ODI,SouthAfrica
4,Quinton de Kock,23,1014,997,22,46.1,101.7,124,5,2,120,23,50.9,ODI,SouthAfrica
6,Reeza Hendricks,8,254,308,8,31.8,82.5,74,3,0,29,1,52.9,ODI,SouthAfrica
8,Marco Jansen,10,218,208,8,27.2,104.8,43,0,0,19,8,49.5,ODI,SouthAfrica
10,Heinrich Klaasen,21,824,652,19,43.4,126.4,174,2,2,73,31,39.3,ODI,SouthAfrica
12,Sisanda Magala,5,18,24,3,6.0,75.0,6,0,0,2,0,50.0,ODI,SouthAfrica
14,Keshav Maharaj,11,134,145,9,14.9,92.4,28,0,0,17,1,50.3,ODI,SouthAfrica
16,Aiden Markram,26,929,886,24,38.7,104.9,175,4,2,84,27,45.8,ODI,SouthAfrica
18,David Miller,22,796,682,15,53.1,116.7,91,8,0,63,27,37.8,ODI,SouthAfrica
20,Lungi Ngidi,8,33,75,3,11.0,44.0,15,0,0,1,3,81.3,ODI,SouthAfrica
22,Anrich Nortje,5,31,40,5,6.2,77.5,10,0,0,3,0,50.0,ODI,SouthAfrica
24,Kagiso Rabada,10,76,72,5,15.2,105.6,17,0,0,6,4,48.6,ODI,SouthAfrica
26,Tabraiz Shamsi,6,18,42,3,6.0,42.9,9,0,0,1,0,73.8,ODI,SouthAfrica
28,Rassie van der Dussen,26,1137,1195,22,51.7,95.1,134,5,4,97,16,44.2,ODI,SouthAfrica

In [85]:
df_odi_netherland = odi_performance(Netherland_Players)
df_odi_netherland = df_odi_netherland.drop_duplicates(keep='first')
df_odi_netherland['Country'] = 'Netherlands'
df_odi_netherland

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3045886530.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_netherland['Country'] = 'Netherlands'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,...,6s,Dot %,Format,Overs,Wickets,Econ,5W,BBI,Dot%,Country
0,Max O'Dowd,31,1014,1365.0,30.0,33.8,74.3,90.0,8.0,0.0,...,13,58.8,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
2,Bas de Leede,26,733,1074.0,25.0,29.3,68.2,123.0,2.0,1.0,...,12,58.8,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
4,Teja Nidamanuru,20,501,527.0,17.0,29.5,95.1,111.0,2.0,2.0,...,12,46.3,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
6,Paul van Meekeren,7,41,45.0,5.0,8.2,91.1,21.0,0.0,0.0,...,2,60.0,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
8,Colin Ackermann,6,211,280.0,6.0,35.2,75.4,81.0,2.0,0.0,...,2,54.6,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
10,Roelof van der Merwe,1,27,NaN,NaN,27.0,36.0,NaN,NaN,NaN,...,0,NaN,ODI,6.0,1.0,4.5,0.0,1/27,38.9,Netherlands
12,Logan van Beek,24,337,417.0,16.0,21.1,80.8,32.0,0.0,0.0,...,9,54.2,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
14,Aryan Dutt,18,100,171.0,14.0,7.1,58.5,16.0,0.0,0.0,...,2,65.5,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
16,Ryan Klein,8,35,65.0,6.0,5.8,53.8,8.0,0.0,0.0,...,0,58.5,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
18,Wesley Barresi,13,266,295.0,13.0,20.5,90.2,97.0,2.0,0.0,...,4,55.9,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
20,Saqib Zulfiqar,12,181,264.0,10.0,18.1,68.6,34.0,0.0,0.0,...,4,60.2,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
22,Shariz Ahmad,8,64,108.0,7.0,9.1,59.3,30.0,0.0,0.0,...,0,54.6,ODI,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands

In [86]:
df_odi_newzealand = odi_performance(Newzealand_Players)
df_odi_newzealand = df_odi_newzealand.drop_duplicates(keep='first')
df_odi_newzealand['Country'] = 'Newzealand'
df_odi_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/698157396.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_newzealand['Country'] = 'Newzealand'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Kane Williamson,9,381,543,7,54.4,70.2,94,3,0,31,2,54.1,ODI,Newzealand
2,Trent Boult,7,35,39,6,5.8,89.7,16,0,0,4,0,51.3,ODI,Newzealand
4,Mark Chapman,6,219,179,5,43.8,122.3,101,0,1,17,12,45.3,ODI,Newzealand
6,Devon Conway,21,874,1022,19,46.0,85.5,138,3,4,100,12,54.5,ODI,Newzealand
8,Lockie Ferguson,10,39,82,5,7.8,47.6,8,0,0,2,0,62.2,ODI,Newzealand
10,Matt Henry,10,25,44,7,3.6,56.8,5,0,0,1,0,59.1,ODI,Newzealand
12,Tom Latham,31,1101,1237,27,40.8,89.0,145,5,3,93,14,46.2,ODI,Newzealand
14,Glenn Phillips,15,450,499,14,32.1,90.2,72,2,0,33,16,52.3,ODI,Newzealand
16,Rachin Ravindra,6,179,153,6,29.8,117.0,61,1,0,17,5,40.5,ODI,Newzealand
18,Ish Sodhi,9,85,133,8,10.6,63.9,25,0,0,3,3,57.9,ODI,Newzealand
20,Tim Southee,8,45,54,5,9.0,83.3,15,0,0,4,0,51.9,ODI,Newzealand
22,Will Young,19,690,769,16,43.1,89.7,120,3,2,70,12,52.4,ODI,Newzealand

In [90]:
df_odi_afghanistan = odi_performance(Afghanistan_Players)
df_odi_afghanistan = df_odi_afghanistan.drop_duplicates(keep='first')
df_odi_afghanistan['Format'] = 'ODI'
df_odi_afghanistan['Country'] = 'Afghanistan'
df_odi_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3822076178.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3724031646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_afghanistan['Format'] = 'ODI'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3724031646.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_afghanistan['Country'] = 'Afghanistan'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Hashmatullah Shahidi,25,713,985,22,32.4,72.4,88,7,0,66,7,57.2,ODI,Afghanistan
2,Rahmanullah Gurbaz,26,957,1121,25,38.3,85.4,151,2,5,84,36,59.1,ODI,Afghanistan
4,Ibrahim Zadran,18,908,1068,16,56.8,85.0,162,4,4,93,13,52.3,ODI,Afghanistan
6,Riaz Hassan,4,120,192,4,30.0,62.5,50,1,0,12,2,66.1,ODI,Afghanistan
8,Rahmat Shah,24,911,1264,23,39.6,72.1,103,7,1,78,10,56.6,ODI,Afghanistan
10,Najibullah Zadran,20,467,526,16,29.2,88.8,77,4,0,45,11,52.5,ODI,Afghanistan
12,Mohammad Nabi,19,371,409,16,23.2,90.7,65,1,0,31,11,51.8,ODI,Afghanistan
14,Ikram Alikhil,1,4,9,1,4.0,44.4,4,0,0,1,0,88.9,ODI,Afghanistan
16,Azmatullah Omarzai,8,137,177,6,22.8,77.4,56,1,0,13,4,58.2,ODI,Afghanistan
18,Rashid Khan,19,306,233,15,20.4,131.3,55,1,0,24,15,42.5,ODI,Afghanistan
20,Mujeeb ur Rahman,14,116,143,11,10.5,81.1,64,1,0,11,5,61.5,ODI,Afghanistan
22,Noor Ahmad,2,5,8,1,5.0,62.5,3,0,0,0,0,50.0,ODI,Afghanistan
24,Fazalhaq Farooqi,9,14,42,4,3.5,33.3,6,0,0,2,0,83.3,ODI,Afghanistan
26,Abdul Rahman,5,36,76,4,9.0,47.4,16,0,0,5,0,77.6,ODI,Afghanistan

### T20 Batting Performance

In [91]:
### T20 International Performance Function

def t20_performance(players):
    df_t20 = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=T20I&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'T20I'
            df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_t20

In [92]:
df_t20_Indian = t20_performance(Indian_Players)
df_t20_Indian = df_t20_Indian.drop_duplicates(keep='first')
df_t20_Indian['Country'] = 'India'
df_t20_Indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Rohit Sharma,40,1080,769,39,27.7,140.4,74,8,0,103,55,41.2,T20I,India
2,Hardik Pandya,43,960,704,32,30.0,136.4,71,3,0,74,45,34.4,T20I,India
4,Shubman Gill,11,304,207,10,30.4,146.9,126,1,1,24,16,36.7,T20I,India
6,Virat Kohli,28,1080,790,18,60.0,136.7,122,12,1,91,36,29.4,T20I,India
8,Shreyas Iyer,23,610,438,18,33.9,139.3,74,5,0,54,22,30.6,T20I,India
10,KL Rahul,27,723,564,25,28.9,128.2,69,10,0,55,36,38.8,T20I,India
12,Ravindra Jadeja,10,236,173,5,47.2,136.4,46,0,0,21,6,25.4,T20I,India
14,Shardul Thakur,3,10,8,2,5.0,125.0,10,0,0,2,0,50.0,T20I,India
16,Mohammed Siraj,1,5,7,1,5.0,71.4,5,0,0,1,0,71.4,T20I,India
18,Kuldeep Yadav,4,26,39,3,8.7,66.7,23,0,0,0,0,48.7,T20I,India
20,Mohammed Shami,1,0,2,1,0.0,0.0,0,0,0,0,0,100.0,T20I,India
22,Axar Patel,21,264,169,12,22.0,156.2,65,1,0,23,12,29.6,T20I,India
24,Ishan Kishan,29,686,564,28,24.5,121.6,89,4,0,74,27,47.2,T20I,India
26,Suryakumar Yadav,50,1841,1066,40,46.0,172.7,117,15,3,166,104,30.4,T20I,India

In [93]:
df_t20_australian = t20_performance(Australian_Players)
df_t20_australian = df_t20_australian.drop_duplicates(keep='first')
df_t20_australian['Country'] = 'Australia'
df_t20_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Pat Cummins,10,68,52,5,13.6,130.8,21,0,0,3,4,38.5,T20I,Australia
2,Alex Carey,8,57,64,7,8.1,89.1,20,0,0,6,1,48.4,T20I,Australia
4,Josh Inglis,12,265,184,10,26.5,144.0,48,0,0,25,7,28.3,T20I,Australia
6,Sean Abbott,2,3,4,1,3.0,75.0,3,0,0,0,0,25.0,T20I,Australia
8,Ashton Agar,15,130,141,14,9.3,92.2,27,0,0,8,5,48.2,T20I,Australia
10,Cameron Green,8,139,80,8,17.4,173.8,61,2,0,17,8,45.0,T20I,Australia
12,Josh Hazlewood,6,22,14,2,11.0,157.1,13,0,0,2,1,35.7,T20I,Australia
14,Travis Head,4,141,82,4,35.2,172.0,91,1,0,15,8,37.8,T20I,Australia
16,Glenn Maxwell,28,472,362,25,18.9,130.4,70,2,0,39,19,38.4,T20I,Australia
18,Marcus Stoinis,26,610,389,17,35.9,156.8,78,2,0,50,33,32.4,T20I,Australia
20,David Warner,18,629,427,16,39.3,147.3,89,6,0,77,16,34.2,T20I,Australia
22,Adam Zampa,9,25,32,6,4.2,78.1,13,0,0,2,0,50.0,T20I,Australia
24,Mitchell Starc,9,70,67,5,14.0,104.5,14,0,0,4,1,35.8,T20I,Australia

In [94]:
df_t20_england = t20_performance(England_Players)
df_t20_england  = df_t20_england.drop_duplicates(keep='first')
df_t20_england['Country'] = 'England'
df_t20_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/54187320.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_england['Country'] = 'England'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Jos Buttler,34,1215,807,27,45.0,150.6,101,10,1,110,53,34.9,T20I,England
2,Moeen Ali,36,717,479,28,25.6,149.7,63,5,0,51,41,32.4,T20I,England
4,Gus Atkinson,1,8,10,0,-,80.0,8,0,0,0,0,20.0,T20I,England
6,Jonny Bairstow,24,580,431,18,32.2,134.6,90,4,0,48,27,36.7,T20I,England
8,Sam Curran,20,142,127,13,10.9,111.8,17,0,0,7,6,40.2,T20I,England
10,Liam Livingstone,25,445,298,19,23.4,149.3,103,0,1,24,28,29.9,T20I,England
12,Dawid Malan,41,1037,856,36,28.8,121.1,82,7,0,101,32,40.4,T20I,England
14,Adil Rashid,11,44,47,7,6.3,93.6,22,0,0,3,0,34.0,T20I,England
16,Jason Roy,26,632,488,25,25.3,129.5,64,3,0,65,27,44.1,T20I,England
18,Ben Stokes,11,227,190,8,28.4,119.5,52,1,0,15,5,33.2,T20I,England
20,Reece Topley,4,12,14,2,6.0,85.7,9,0,0,1,0,42.9,T20I,England
22,David Willey,6,61,47,3,20.3,129.8,33,0,0,7,3,46.8,T20I,England
24,Mark Wood,1,1,1,0,-,100.0,1,0,0,0,0,0.0,T20I,England
26,Chris Woakes,7,48,37,4,12.0,129.7,13,0,0,5,2,43.2,T20I,England

In [95]:
df_t20_southAfrica = t20_performance(SouthAfrica_Players)
df_t20_southAfrica  = df_t20_southAfrica.drop_duplicates(keep='first')
df_t20_southAfrica['Country'] = 'SouthAfrica'
df_t20_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/813910620.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_southAfrica['Country'] = 'SouthAfrica'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Temba Bavuma,27,421,380,25,16.8,110.8,72,1,0,42,9,42.1,T20I,SouthAfrica
2,Gerald Coetzee,3,25,24,3,8.3,104.2,13,0,0,1,1,33.3,T20I,SouthAfrica
4,Quinton de Kock,32,969,704,28,34.6,137.6,100,8,1,100,33,35.8,T20I,SouthAfrica
6,Reeza Hendricks,28,1009,724,27,37.4,139.4,83,10,0,113,24,30.7,T20I,SouthAfrica
8,Marco Jansen,2,32,31,2,16.0,103.2,20,0,0,4,1,51.6,T20I,SouthAfrica
10,Heinrich Klaasen,24,438,299,19,23.1,146.5,81,2,0,43,16,31.1,T20I,SouthAfrica
12,Sisanda Magala,3,34,18,1,34.0,188.9,18,0,0,1,4,38.9,T20I,SouthAfrica
14,Keshav Maharaj,7,78,71,5,15.6,109.9,41,0,0,5,5,47.9,T20I,SouthAfrica
16,Aiden Markram,31,1045,694,25,41.8,150.6,70,9,0,90,43,28.7,T20I,SouthAfrica
18,David Miller,31,807,514,17,47.5,157.0,106,4,1,51,45,24.5,T20I,SouthAfrica
20,Lungi Ngidi,7,26,27,2,13.0,96.3,13,0,0,3,0,51.9,T20I,SouthAfrica
22,Anrich Nortje,10,14,28,5,2.8,50.0,4,0,0,1,0,64.3,T20I,SouthAfrica
24,Kagiso Rabada,12,110,95,3,36.7,115.8,19,0,0,9,3,37.9,T20I,SouthAfrica
26,Tabraiz Shamsi,7,5,13,4,1.2,38.5,4,0,0,0,0,76.9,T20I,SouthAfrica
28,Rassie van der Dussen,22,529,432,17,31.1,122.5,94,4,0,37,22,35.2,T20I,SouthAfrica

In [96]:
df_t20_netherland = t20_performance(Netherland_Players)
df_t20_netherland = df_t20_netherland.drop_duplicates(keep='first')
df_t20_netherland['Country'] = 'Netherlands'
df_t20_netherland

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1905432487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_netherland['Country'] = 'Netherlands'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Max O'Dowd,23,800,641,21,38.1,124.8,133,6,1,94,18,41.0,T20I,Netherlands
2,Bas de Leede,22,523,473,16,32.7,110.6,91,4,0,42,16,41.2,T20I,Netherlands
4,Teja Nidamanuru,3,30,42,3,10.0,71.4,21,0,0,1,1,54.8,T20I,Netherlands
6,Paul van Meekeren,6,60,43,6,10.0,139.5,24,0,0,7,2,44.2,T20I,Netherlands
8,Colin Ackermann,11,222,206,10,22.2,107.8,62,1,0,16,6,40.3,T20I,Netherlands
10,Roelof van der Merwe,7,11,20,5,2.2,55.0,6,0,0,1,0,70.0,T20I,Netherlands
12,Logan van Beek,9,51,61,5,10.2,83.6,19,0,0,0,1,42.6,T20I,Netherlands
14,Aryan Dutt,1,0,3,1,0.0,0.0,0,0,0,0,0,100.0,T20I,Netherlands
16,Ryan Klein,1,11,6,1,11.0,183.3,11,0,0,2,0,16.7,T20I,Netherlands
18,Shariz Ahmad,4,31,23,2,15.5,134.8,16,0,0,4,0,30.4,T20I,Netherlands

In [97]:
df_t20_newzealand = t20_performance(Newzealand_Players)
df_t20_newzealand = df_t20_newzealand.drop_duplicates(keep='first')
df_t20_newzealand['Country'] = 'Newzealand'
df_t20_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2725662169.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_newzealand['Country'] = 'Newzealand'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Kane Williamson,25,741,627,22,33.7,118.2,85,5,0,52,20,34.1,T20I,Newzealand
2,Trent Boult,3,10,10,0,-,100.0,6,0,0,1,0,30.0,T20I,Newzealand
4,Mark Chapman,28,820,565,21,39.0,145.1,104,6,1,71,35,33.6,T20I,Newzealand
6,Devon Conway,34,1074,852,27,39.8,126.1,99,7,0,102,26,35.2,T20I,Newzealand
8,Lockie Ferguson,7,22,20,4,5.5,110.0,14,0,0,0,2,60.0,T20I,Newzealand
10,Matt Henry,1,0,1,1,0.0,0.0,0,0,0,0,0,100.0,T20I,Newzealand
12,Tom Latham,13,355,317,10,35.5,112.0,67,3,0,30,6,34.1,T20I,Newzealand
14,Glenn Phillips,42,1235,835,35,35.3,147.9,104,8,1,83,61,31.3,T20I,Newzealand
16,Rachin Ravindra,16,145,123,11,13.2,117.9,26,0,0,12,4,40.7,T20I,Newzealand
18,Ish Sodhi,18,80,71,13,6.2,112.7,19,0,0,5,4,47.9,T20I,Newzealand
20,Tim Southee,13,48,34,6,8.0,141.2,8,0,0,4,2,44.1,T20I,Newzealand
22,Will Young,13,260,254,13,20.0,102.4,56,2,0,27,8,47.6,T20I,Newzealand

In [99]:
df_t20_afghanistan = t20_performance(Afghanistan_Players)
df_t20_afghanistan = df_t20_afghanistan.drop_duplicates(keep='first')
df_t20_afghanistan['Country'] = 'Afghanistan'
df_t20_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/904757337.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/509966654.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_afghanistan['Country'] = 'Afghanistan'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Hashmatullah Shahidi,2,47,54,2,23.5,87.0,36,0,0,5,0,44.4,T20I,Afghanistan
2,Rahmanullah Gurbaz,33,711,539,33,21.5,131.9,87,3,0,56,41,45.3,T20I,Afghanistan
4,Ibrahim Zadran,21,517,490,17,30.4,105.5,64,2,0,41,12,40.0,T20I,Afghanistan
6,Najibullah Zadran,33,736,531,24,30.7,138.6,73,5,0,54,39,37.5,T20I,Afghanistan
8,Mohammad Nabi,29,478,396,21,22.8,120.7,54,1,0,40,14,37.1,T20I,Afghanistan
10,Azmatullah Omarzai,14,185,165,11,16.8,112.1,33,0,0,13,8,42.4,T20I,Afghanistan
12,Rashid Khan,22,213,158,14,15.2,134.8,48,0,0,13,14,45.6,T20I,Afghanistan
14,Mujeeb ur Rahman,9,26,28,5,5.2,92.9,18,0,0,3,1,57.1,T20I,Afghanistan
16,Noor Ahmad,1,4,8,0,-,50.0,4,0,0,0,0,62.5,T20I,Afghanistan
18,Fazalhaq Farooqi,2,1,4,1,1.0,25.0,1,0,0,0,0,75.0,T20I,Afghanistan
20,Abdul Rahman,8,145,132,5,29.0,109.8,67,1,0,10,2,28.8,T20I,Afghanistan

### Test Batting Performance

In [100]:
### Test Performance Function

def test_performance(players):
    df_test = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]
        
        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=Test&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")            
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'Test'
            df_test = df_test.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_test

In [101]:
df_test_indian = test_performance(Indian_Players)
df_test_indian  = df_test_indian.drop_duplicates(keep='first')
df_test_indian['Country'] = 'India'
df_test_indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/975992434.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_indian['Country'] = 'India'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Rohit Sharma,35,1536,2921,33,46.5,52.6,161,6,4,178,25,74.4,Test,India
2,Shubman Gill,31,886,1538,29,30.6,57.6,128,4,2,97,13,71.5,Test,India
4,Virat Kohli,40,1358,2968,39,34.8,45.8,186,6,2,146,2,74.4,Test,India
6,Shreyas Iyer,16,666,1012,15,44.4,65.8,105,5,1,80,14,69.0,Test,India
8,KL Rahul,21,636,1563,21,30.3,40.7,129,2,2,81,4,79.1,Test,India
10,Ravindra Jadeja,26,878,1825,23,38.2,48.1,175,4,2,101,8,74.7,Test,India
12,Shardul Thakur,15,301,469,15,20.1,64.2,67,4,0,38,9,74.0,Test,India
14,Jasprit Bumrah,21,174,284,16,10.9,61.3,34,0,0,20,6,74.6,Test,India
16,Mohammed Siraj,26,80,188,17,4.7,42.6,16,0,0,9,2,80.9,Test,India
18,Kuldeep Yadav,3,43,138,3,14.3,31.2,40,0,0,5,0,83.3,Test,India
20,Mohammed Shami,23,252,353,17,14.8,71.4,56,1,0,33,5,69.1,Test,India
22,Axar Patel,18,513,958,14,36.6,53.5,84,4,0,50,17,74.3,Test,India
24,Ishan Kishan,3,78,91,1,78.0,85.7,52,1,0,8,2,57.1,Test,India
26,Suryakumar Yadav,1,8,20,1,8.0,40.0,8,0,0,1,0,75.0,Test,India

In [102]:
df_test_australian = test_performance(Australian_Players)
df_test_australian  = df_test_australian.drop_duplicates(keep='first')
df_test_australian['Country'] = 'Australia'
df_test_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3600288151.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_australian['Country'] = 'Australia'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Pat Cummins,31,418,779,26,16.1,53.7,40,0,0,35,15,74.6,Test,Australia
2,Alex Carey,36,1003,1742,32,31.3,57.6,111,5,1,110,6,69.1,Test,Australia
4,Cameron Green,33,1007,2075,29,34.7,48.5,114,6,1,106,7,74.2,Test,Australia
6,Josh Hazlewood,10,41,96,5,8.2,42.7,11,0,0,7,0,82.3,Test,Australia
8,Travis Head,38,1751,2207,35,50.0,79.3,175,9,4,222,22,62.2,Test,Australia
10,David Warner,44,1243,2116,43,28.9,58.7,200,6,1,157,9,73.1,Test,Australia
12,Mitchell Starc,30,429,866,22,19.5,49.5,41,0,0,42,5,73.3,Test,Australia

In [103]:
df_test_england = test_performance(England_Players)
df_test_england  = df_test_england.drop_duplicates(keep='first')
df_test_england['Country'] = 'England'
df_test_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/53254459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_england['Country'] = 'England'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Jos Buttler,18,364,871,16,22.8,41.8,55,1,0,45,1,80.0,Test,England
2,Moeen Ali,14,312,531,14,22.3,58.8,54,1,0,38,9,73.6,Test,England
4,Jonny Bairstow,45,1774,2621,40,44.4,67.7,162,5,6,219,24,68.2,Test,England
6,Sam Curran,7,87,158,6,14.5,55.1,32,0,0,10,2,73.4,Test,England
8,Liam Livingstone,2,16,18,1,16.0,88.9,9,0,0,0,1,50.0,Test,England
10,Dawid Malan,13,350,860,13,26.9,40.7,82,3,0,50,0,80.0,Test,England
12,Joe Root,70,3592,5756,64,56.1,62.4,228,11,13,371,21,64.4,Test,England
14,Ben Stokes,53,1689,2771,51,33.1,61.0,155,8,3,176,50,71.5,Test,England
16,Mark Wood,24,325,439,21,15.5,74.0,41,0,0,42,8,69.7,Test,England
18,Chris Woakes,19,429,732,16,26.8,58.6,50,1,0,54,4,71.6,Test,England

In [104]:
df_test_southAfrica = test_performance(SouthAfrica_Players)
df_test_southAfrica = df_test_southAfrica.drop_duplicates(keep='first')
df_test_southAfrica['Country'] = 'SouthAfrica'
df_test_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Temba Bavuma,29,1081,2263,24,45.0,47.8,172,6,1,120,3,74.4,Test,SouthAfrica
2,Gerald Coetzee,4,47,50,3,15.7,94.0,20,0,0,5,1,54.0,Test,SouthAfrica
4,Quinton de Kock,10,348,506,9,38.7,68.8,141,1,1,32,8,65.8,Test,SouthAfrica
6,Marco Jansen,18,306,719,15,20.4,42.6,59,1,0,43,1,80.3,Test,SouthAfrica
8,Heinrich Klaasen,6,93,196,6,15.5,47.4,35,0,0,10,0,75.0,Test,SouthAfrica
10,Keshav Maharaj,29,413,704,29,14.2,58.7,84,2,0,54,4,74.4,Test,SouthAfrica
12,Aiden Markram,26,793,1568,25,31.7,50.6,115,3,2,120,3,77.4,Test,SouthAfrica
14,Lungi Ngidi,17,72,164,12,6.0,43.9,19,0,0,11,1,82.9,Test,SouthAfrica
16,Anrich Nortje,19,98,223,14,7.0,43.9,28,0,0,15,0,81.6,Test,SouthAfrica
18,Kagiso Rabada,29,291,507,23,12.7,57.4,47,0,0,28,9,74.6,Test,SouthAfrica
20,Rassie van der Dussen,23,616,1529,21,29.3,40.3,75,3,0,67,1,79.4,Test,SouthAfrica

In [105]:
df_test_netherland = test_performance(Netherland_Players)
df_test_netherland = df_test_netherland.drop_duplicates(keep='first')
df_test_netherland['Country'] = 'Netherlands'
df_test_netherland

Empty DataFrame
Columns: [Country]
Index: []

In [106]:
df_test_newzealand = test_performance(Newzealand_Players)
df_test_newzealand = df_test_newzealand.drop_duplicates(keep='first')
df_test_newzealand['Country'] = 'Newzealand'
df_test_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1443221592.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_newzealand['Country'] = 'Newzealand'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Kane Williamson,21,1247,2500,18,69.3,49.9,238,1,5,144,4,74.3,Test,Newzealand
2,Trent Boult,9,91,95,4,22.8,95.8,17,0,0,18,0,70.5,Test,Newzealand
4,Devon Conway,29,1403,2719,28,50.1,51.6,200,8,4,178,6,75.0,Test,Newzealand
6,Matt Henry,11,238,324,8,29.8,73.5,72,3,0,34,5,71.0,Test,Newzealand
8,Tom Latham,34,1255,2586,32,39.2,48.5,252,7,2,150,4,75.1,Test,Newzealand
10,Rachin Ravindra,6,73,246,5,14.6,29.7,18,0,0,12,0,88.2,Test,Newzealand
12,Ish Sodhi,2,76,213,2,38.0,35.7,65,1,0,13,0,84.0,Test,Newzealand
14,Tim Southee,25,286,402,25,11.4,71.1,73,1,0,31,10,69.2,Test,Newzealand
16,Will Young,20,534,1252,20,26.7,42.7,89,6,0,73,0,79.9,Test,Newzealand

In [107]:
df_test_afghanistan = test_performance(Afghanistan_Players)
df_test_afghanistan = df_test_afghanistan.drop_duplicates(keep='first')
df_test_afghanistan['Country'] = 'Afghanistan'
df_test_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/573645066.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3320759369.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_afghanistan['Country'] = 'Afghanistan'

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,4s,6s,Dot %,Format,Country
0,Hashmatullah Shahidi,6,237,497,3,79.0,47.7,200,0,1,27,1,73.8,Test,Afghanistan
2,Ibrahim Zadran,6,214,399,6,35.7,53.6,76,2,0,27,0,73.4,Test,Afghanistan
4,Rahmat Shah,6,126,226,6,21.0,55.8,58,1,0,16,1,74.3,Test,Afghanistan

In [110]:
## Joining multiple dataframes 


combined_df = pd.concat([df_odi_indian, df_odi_australian, df_odi_england,
                        df_odi_southAfrica, df_odi_netherland,df_odi_newzealand,df_odi_afghanistan,
                        df_t20_Indian, df_t20_australian, df_t20_england,
                        df_t20_southAfrica, df_t20_netherland, df_t20_newzealand,df_t20_afghanistan,
                        df_test_indian, df_test_australian, df_test_england,
                        df_test_southAfrica, df_test_netherland, df_test_newzealand, df_test_afghanistan], axis=0)

In [111]:
combined_df

,Player,Innings,Runs,Balls,Outs,Avg,SR,HS,50,100,...,6s,Dot %,Format,Country,Overs,Wickets,Econ,5W,BBI,Dot%
0,Rohit Sharma,25.0,916.0,863.0,21.0,43.6,106.1,101.0,8.0,1.0,...,42.0,58.5,ODI,India,NaN,NaN,NaN,NaN,NaN,NaN
2,Hardik Pandya,19.0,591.0,584.0,18.0,32.8,101.2,87.0,5.0,0.0,...,20.0,46.2,ODI,India,NaN,NaN,NaN,NaN,NaN,NaN
4,Shubman Gill,29.0,1663.0,1614.0,24.0,69.3,103.0,208.0,8.0,5.0,...,33.0,48.4,ODI,India,NaN,NaN,NaN,NaN,NaN,NaN
6,Virat Kohli,26.0,987.0,977.0,24.0,41.1,101.0,166.0,5.0,4.0,...,17.0,42.0,ODI,India,NaN,NaN,NaN,NaN,NaN,NaN
8,Shreyas Iyer,20.0,838.0,898.0,18.0,46.6,93.3,113.0,6.0,1.0,...,15.0,49.2,ODI,India,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,Tim Southee,25.0,286.0,402.0,25.0,11.4,71.1,73.0,1.0,0.0,...,10.0,69.2,Test,Newzealand,NaN,NaN,NaN,NaN,NaN,NaN
16,Will Young,20.0,534.0,1252.0,20.0,26.7,42.7,89.0,6.0,0.0,...,0.0,79.9,Test,Newzealand,NaN,NaN,NaN,NaN,NaN,NaN
0,Hashmatullah Shahidi,6.0,237.0,497.0,3.0,79.0,47.7,200.0,0.0,1.0,...,1.0,73.8,Test,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
2,Ibrahim Zadran,6.0,214.0,399.0,6.0,35.7,53.6,76.0,2.0,0.0,...,0.0,73.4,Test,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN
4,Rahmat Shah,6.0,126.0,226.0,6.0,21.0,55.8,58.0,1.0,0.0,...,1.0,74.3,Test,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
combined_df.to_excel('OverallPerformance.xlsx', index=False)

In [ ]:
#players = ['Rohit Sharma', 'Virat Kohli']
def odi_performance_against_opposition(players):
    df_odi = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'ODI'
            df_odi = df_odi.append(data_by_series[0], ignore_index=True)
        except:
            continue

In [ ]:
df_odi_indian = odi_performance_against_opposition(Indian_Players)
df_odi_indian = df.drop_duplicates(keep='first')
df_odi_indian['Format'] = 'ODI'
df_odi_indian['Country'] = 'India'
df_odi_indian

## Overall Performace against Opposition from 2021-2023

In [ ]:
### ODI Performance Function

def odi_performance_against_opposition(players):
    df_odi = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'ODI'
            df_odi = df_odi.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_odi

In [ ]:
df_odi_indian = odi_performance_against_opposition(Indian_Players)
df_odi_indian = df.drop_duplicates(keep='first')
df_odi_indian['Format'] = 'ODI'
df_odi_indian['Country'] = 'India'
df_odi_indian

## Overall bowling performance 2021-23

In [154]:
### ODI Performance Function

def odi_performance_bowling(players):
    df_odi = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=bowler&format=ODI&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'ODI'
            df_odi = df_odi.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_odi

In [155]:
df_odi_indian = odi_performance_bowling(Indian_Players)
df_odi_indian = df_odi_indian.drop_duplicates(keep='first')
df_odi_indian['Format'] = 'ODI'
df_odi_indian['Country'] = 'India'
df_odi_indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1210281667.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_indian['Format'] = 'ODI'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1210281667.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_indian['Country'] = 'India'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Hardik Pandya,20,110.4,611,20,5.52,30.6,33.2,0,4/24,52,18,61.4,ODI,India
2,Shreyas Iyer,3,4.1,24,0,5.76,-,-,0,0/1,1,1,44.0,ODI,India
4,Ravindra Jadeja,9,60.0,274,9,4.57,30.4,40.0,0,3/37,14,4,50.8,ODI,India
6,Shardul Thakur,28,185.2,1074,45,5.79,23.9,24.7,0,4/37,100,28,58.1,ODI,India
8,Jasprit Bumrah,6,52.2,223,14,4.26,15.9,22.4,1,6/19,19,2,65.3,ODI,India
10,Mohammed Siraj,25,190.4,898,46,4.71,19.5,24.9,0,4/32,113,12,70.7,ODI,India
12,Kuldeep Yadav,25,200.5,1025,41,5.10,25.0,29.4,1,5/25,67,35,54.7,ODI,India
14,Mohammed Shami,12,84.0,446,15,5.31,29.7,33.6,0,3/17,55,10,68.3,ODI,India
16,Axar Patel,13,86.3,417,13,4.82,32.1,39.9,0,3/24,33,10,53.9,ODI,India

In [156]:
df_odi_australian = odi_performance_bowling(Australian_Players)
df_odi_australian = df_odi_australian.drop_duplicates(keep='first')
df_odi_australian['Format'] = 'ODI'
df_odi_australian['Country'] = 'Australia'
df_odi_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1561694202.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_australian['Format'] = 'ODI'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1561694202.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_australian['Country'] = 'Australia'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Pat Cummins,6,47.5,229,13,4.79,17.6,22.1,0,4/35,22,4,66.6,ODI,Australia
2,Sean Abbott,11,83.5,396,14,4.72,28.3,35.9,0,3/23,38,6,61.0,ODI,Australia
4,Ashton Agar,8,64.0,295,9,4.61,32.8,42.7,0,2/31,18,7,52.9,ODI,Australia
6,Cameron Green,15,76.0,382,12,5.03,31.8,38.0,1,5/33,39,4,55.9,ODI,Australia
8,Josh Hazlewood,16,133.3,503,23,3.77,21.9,34.8,0,3/11,56,5,67.4,ODI,Australia
10,Travis Head,5,17.0,122,2,7.18,61.0,51.0,0,2/35,8,5,36.3,ODI,Australia
12,Glenn Maxwell,10,68.0,331,9,4.87,36.8,45.3,0,4/52,24,5,51.7,ODI,Australia
14,Marcus Stoinis,12,52.1,231,9,4.43,25.7,34.8,0,2/20,18,2,57.2,ODI,Australia
16,Adam Zampa,20,164.4,815,44,4.95,18.5,22.5,1,5/35,58,19,52.8,ODI,Australia
18,Mitchell Starc,14,123.2,577,35,4.68,16.5,21.1,2,5/48,54,11,69.2,ODI,Australia

In [157]:
df_odi_england = odi_performance_bowling(England_Players)
df_odi_england = df_odi_england.drop_duplicates(keep='first')
df_odi_england['Format'] = 'ODI'
df_odi_england['Country'] = 'England'
df_odi_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2578900105.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_england['Format'] = 'ODI'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2578900105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_england['Country'] = 'England'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Moeen Ali,20,118.4,665,16,5.60,41.6,44.5,0,3/57,46,14,43.0,ODI,England
2,Gus Atkinson,2,12.0,70,1,5.83,70.0,72.0,0,1/23,5,1,52.8,ODI,England
4,Sam Curran,19,137.2,808,21,5.88,38.5,39.2,1,5/48,74,13,52.1,ODI,England
6,Liam Livingstone,8,32.4,192,6,5.88,32.0,32.7,0,2/30,10,5,42.9,ODI,England
8,Dawid Malan,2,2.3,17,1,6.80,17.0,15.0,0,1/5,1,1,60.0,ODI,England
10,Adil Rashid,20,176.0,1055,29,5.99,36.4,36.4,0,4/45,67,27,43.6,ODI,England
12,Joe Root,2,4.1,29,0,6.96,-,-,0,0/4,3,0,40.0,ODI,England
14,Ben Stokes,8,33.0,217,4,6.58,54.2,49.5,0,3/34,20,4,42.9,ODI,England
16,Reece Topley,13,95.1,525,19,5.52,27.6,30.1,1,6/24,63,7,60.1,ODI,England
18,David Willey,17,124.1,651,28,5.24,23.2,26.6,0,4/36,66,9,60.4,ODI,England
20,Mark Wood,6,46.0,211,7,4.59,30.1,39.4,0,3/34,22,3,63.0,ODI,England
22,Chris Woakes,9,77.1,343,11,4.44,31.2,42.1,0,4/18,33,6,61.8,ODI,England

In [158]:
df_odi_southAfrica = odi_performance_bowling(SouthAfrica_Players)
df_odi_southAfrica = df_odi_southAfrica.drop_duplicates(keep='first')
df_odi_southAfrica['Country'] = 'SouthAfrica'
df_odi_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2110657333.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_southAfrica['Country'] = 'SouthAfrica'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Temba Bavuma,1,6.1,22,0,3.57,-,-,0,0/22,3,0,64.9,ODI,SouthAfrica
2,Gerald Coetzee,3,27.0,154,7,5.70,22.0,23.1,0,3/57,16,2,58.0,ODI,SouthAfrica
4,Marco Jansen,11,93.3,564,12,6.03,47.0,46.8,0,2/46,60,13,61.7,ODI,SouthAfrica
6,Heinrich Klaasen,1,2.0,14,0,7.00,-,-,0,0/14,2,0,41.7,ODI,SouthAfrica
8,Sisanda Magala,6,53.0,335,14,6.32,23.9,22.7,1,5/43,29,6,54.1,ODI,SouthAfrica
10,Keshav Maharaj,20,172.0,800,23,4.65,34.8,44.9,0,3/38,47,17,50.7,ODI,SouthAfrica
12,Aiden Markram,17,95.3,536,13,5.61,41.2,44.1,0,2/25,41,11,47.5,ODI,SouthAfrica
14,Lungi Ngidi,19,158.0,939,21,5.94,44.7,45.1,0,4/62,94,22,55.6,ODI,SouthAfrica
16,Anrich Nortje,14,112.0,699,22,6.24,31.8,30.5,0,4/51,80,15,54.2,ODI,SouthAfrica
18,Kagiso Rabada,16,140.5,757,24,5.38,31.5,35.2,1,5/39,85,15,64.4,ODI,SouthAfrica
20,Tabraiz Shamsi,21,179.1,1028,35,5.74,29.4,30.7,1,5/49,75,29,52.0,ODI,SouthAfrica
22,Rassie van der Dussen,1,1.0,3,1,3.00,3.0,6.0,0,1/3,0,0,50.0,ODI,SouthAfrica

In [162]:
df_odi_netherland = odi_performance_bowling(Netherland_Players)
df_odi_netherland = df_test_netherland.drop_duplicates(keep='first')
df_odi_netherland['Country'] = 'Netherlands'
df_odi_netherland

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)

Empty DataFrame
Columns: [Format, Country]
Index: []

In [160]:
df_odi_newzealand = odi_performance_bowling(Newzealand_Players)
df_odi_newzealand = df_odi_newzealand.drop_duplicates(keep='first')
df_odi_newzealand['Country'] = 'Newzealand'
df_odi_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1312268685.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_odi_newzealand['Country'] = 'Newzealand'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Trent Boult,10,91.5,373,26,4.06,14.3,21.2,0,4/27,32,5,71.5,ODI,Newzealand
2,Lockie Ferguson,17,148.5,910,17,6.11,53.5,52.5,0,3/59,100,19,57.6,ODI,Newzealand
4,Matt Henry,22,198.0,901,36,4.55,25.0,33.0,0,4/27,99,14,63.1,ODI,Newzealand
6,Glenn Phillips,8,26.0,156,5,6.00,31.2,31.2,0,1/9,11,4,42.9,ODI,Newzealand
8,Rachin Ravindra,5,41.3,273,7,6.58,39.0,35.6,0,3/48,19,10,41.4,ODI,Newzealand
10,Ish Sodhi,12,111.1,585,12,5.26,48.8,55.6,0,2/17,40,12,48.0,ODI,Newzealand
12,Tim Southee,13,109.4,605,24,5.52,25.2,27.4,0,4/22,60,19,59.0,ODI,Newzealand

In [161]:
df_odi_afghanistan = odi_performance_bowling(Afghanistan_Players)
df_odi_afghanistan = df_odi_afghanistan.drop_duplicates(keep='first')
df_odi_afghanistan['Country'] = 'Afghanistan'
df_odi_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3594384483.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_odi = df_odi.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Rahmat Shah,2,2.1,16,1,7.38,16.0,13.0,0,1/6,2,0,46.2,ODI,Afghanistan
2,Mohammad Nabi,22,171.0,744,24,4.35,31.0,42.8,0,4/34,49,6,52.6,ODI,Afghanistan
4,Azmatullah Omarzai,13,71.4,354,6,4.94,59.0,71.7,0,1/17,35,1,56.7,ODI,Afghanistan
6,Rashid Khan,22,203.5,893,39,4.38,22.9,31.4,0,4/29,59,8,55.4,ODI,Afghanistan
8,Mujeeb ur Rahman,26,220.3,991,29,4.49,34.2,45.6,0,3/32,73,13,59.5,ODI,Afghanistan
10,Noor Ahmad,3,21.0,156,2,7.43,78.0,63.0,0,1/54,15,2,46.0,ODI,Afghanistan
12,Fazalhaq Farooqi,21,158.0,880,32,5.57,27.5,29.6,0,4/49,107,12,64.0,ODI,Afghanistan
14,Abdul Rahman,3,17.2,133,1,7.67,133.0,104.0,0,1/83,11,1,41.3,ODI,Afghanistan

In [174]:
concat_bowling_odi = pd.concat([df_odi_indian, df_odi_australian, df_odi_england,
                        df_odi_southAfrica, df_odi_netherland,df_odi_newzealand,df_odi_afghanistan])

In [163]:
### T20I Performance Function

def t20_performance_bowling(players):
    df_t20 = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=bowler&format=T20I&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'T20I'
            df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_t20

In [164]:
df_t20_indian = t20_performance_bowling(Indian_Players)
df_t20_indian = df_t20_indian.drop_duplicates(keep='first')
df_t20_indian['Format'] = 'T20I'
df_t20_indian['Country'] = 'India'
df_t20_indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3559238500.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_indian['Format'] = 'T20I'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3559238500.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_indian['Country'] = 'India'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Hardik Pandya,42,122.0,974,35,7.98,27.8,20.9,0,4/16,79,42,42.9,T20I,India
2,Virat Kohli,1,1.0,6,0,6.00,-,-,0,0/6,0,0,16.7,T20I,India
4,Shreyas Iyer,1,0.2,2,0,6.00,-,-,0,0/2,0,0,50.0,T20I,India
6,Ravindra Jadeja,13,44.0,301,12,6.84,25.1,22.0,0,3/15,22,12,41.3,T20I,India
8,Shardul Thakur,8,25.4,249,10,9.70,24.9,15.4,0,3/42,24,11,41.6,T20I,India
10,Jasprit Bumrah,12,42.4,260,15,6.09,17.3,17.1,0,2/10,23,7,57.4,T20I,India
12,Mohammed Siraj,5,20.0,146,8,7.30,18.2,15.0,0,4/17,13,5,47.5,T20I,India
14,Kuldeep Yadav,11,39.0,221,13,5.67,17.0,18.0,0,3/12,13,5,45.3,T20I,India
16,Mohammed Shami,11,35.5,283,12,7.90,23.6,17.9,0,3/15,25,12,48.4,T20I,India
18,Axar Patel,32,96.1,757,30,7.87,25.2,19.2,0,3/9,57,38,42.1,T20I,India

In [165]:
df_t20_australian = t20_performance_bowling(Australian_Players)
df_t20_australian = df_t20_australian.drop_duplicates(keep='first')
df_t20_australian['Format'] = 'T20I'
df_t20_australian['Country'] = 'Australia'
df_t20_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2385933593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_australian['Format'] = 'T20I'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2385933593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_australian['Country'] = 'Australia'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Pat Cummins,20,73.0,587,18,8.04,32.6,24.3,0,2/22,59,19,50.2,T20I,Australia
2,Sean Abbott,5,15.0,109,9,7.27,12.1,10.0,0,4/31,10,5,52.2,T20I,Australia
4,Ashton Agar,20,74.4,447,18,5.99,24.8,24.9,1,6/30,18,16,42.6,T20I,Australia
6,Cameron Green,7,20.0,178,5,8.90,35.6,24.0,0,2/16,17,9,46.7,T20I,Australia
8,Josh Hazlewood,32,117.4,850,49,7.22,17.3,14.4,0,4/12,81,33,51.4,T20I,Australia
10,Travis Head,1,2.0,17,0,8.50,-,-,0,0/17,1,1,25.0,T20I,Australia
12,Glenn Maxwell,22,41.1,303,10,7.36,30.3,24.7,0,2/14,18,10,32.4,T20I,Australia
14,Marcus Stoinis,16,40.0,352,14,8.80,25.1,17.1,0,3/18,23,15,33.8,T20I,Australia
16,Adam Zampa,37,135.3,995,43,7.34,23.1,18.9,1,5/19,54,48,37.4,T20I,Australia
18,Mitchell Starc,23,88.0,762,26,8.66,29.3,20.3,0,4/20,71,30,52.1,T20I,Australia

In [166]:
df_t20_england = t20_performance_bowling(England_Players)
df_t20_england = df_t20_england.drop_duplicates(keep='first')
df_t20_england['Format'] = 'T20I'
df_t20_england['Country'] = 'England'
df_t20_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2991732157.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_england['Format'] = 'T20I'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2991732157.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_england['Country'] = 'England'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Moeen Ali,31,70.1,558,26,7.95,21.5,16.2,0,3/24,37,27,37.8,T20I,England
2,Gus Atkinson,2,6.5,51,6,7.46,8.5,6.8,0,4/20,4,1,46.3,T20I,England
4,Sam Curran,33,106.4,786,34,7.37,23.1,18.8,1,5/10,61,17,40.3,T20I,England
6,Liam Livingstone,23,59.0,501,18,8.49,27.8,19.7,0,3/17,35,22,35.6,T20I,England
8,Adil Rashid,46,170.2,1258,47,7.39,26.8,21.7,0,4/2,63,58,34.8,T20I,England
10,Ben Stokes,13,32.2,245,10,7.58,24.5,19.4,0,2/19,17,8,40.7,T20I,England
12,Reece Topley,16,61.0,476,17,7.80,28.0,21.5,0,3/22,48,11,43.7,T20I,England
14,David Willey,15,51.2,419,17,8.16,24.6,18.1,0,3/25,35,13,42.2,T20I,England
16,Mark Wood,16,60.0,472,27,7.87,17.5,13.3,0,3/20,47,17,47.2,T20I,England
18,Chris Woakes,21,63.3,468,20,7.37,23.4,19.0,0,3/4,39,19,48.8,T20I,England

In [167]:
df_t20_southAfrica = t20_performance_bowling(SouthAfrica_Players)
df_t20_southAfrica = df_t20_southAfrica.drop_duplicates(keep='first')
df_t20_southAfrica['Format'] = 'T20I'
df_t20_southAfrica['Country'] = 'SouthAfrica'
df_t20_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Gerald Coetzee,3,9.5,108,3,10.98,36.0,19.7,0,2/36,14,4,35.6,T20I,SouthAfrica
2,Reeza Hendricks,1,1.0,21,0,21.00,-,-,0,0/21,0,3,16.7,T20I,SouthAfrica
4,Marco Jansen,3,12.0,135,5,11.25,27.0,14.4,0,3/52,13,8,44.4,T20I,SouthAfrica
6,Sisanda Magala,6,20.0,226,6,11.30,37.7,20.0,0,3/21,19,12,40.0,T20I,SouthAfrica
8,Keshav Maharaj,26,86.5,645,23,7.43,28.0,22.7,0,2/21,44,26,38.0,T20I,SouthAfrica
10,Aiden Markram,16,33.0,262,9,7.94,29.1,22.0,0,3/21,12,18,47.0,T20I,SouthAfrica
12,Lungi Ngidi,24,77.3,735,32,9.48,23.0,14.5,1,5/39,63,40,46.9,T20I,SouthAfrica
14,Anrich Nortje,25,85.0,587,35,6.91,16.8,14.6,0,4/10,46,27,51.2,T20I,SouthAfrica
16,Kagiso Rabada,30,104.5,908,27,8.66,33.6,23.3,0,3/20,92,42,47.2,T20I,SouthAfrica
18,Tabraiz Shamsi,38,135.4,976,55,7.19,17.7,14.8,1,5/24,50,48,43.0,T20I,SouthAfrica

In [168]:
df_t20_netherland = t20_performance_bowling(Netherland_Players)
df_t20_netherland = df_t20_netherland.drop_duplicates(keep='first')
df_t20_netherland['Format'] = 'T20I'
df_t20_netherland['Country'] = 'Netherlands'
df_t20_netherland

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Bas de Leede,21,58.1,433,29,7.44,14.9,12.0,0,3/19,42,9,49.9,T20I,Netherlands
2,Paul van Meekeren,17,58.0,413,17,7.12,24.3,20.5,0,3/29,36,12,52.0,T20I,Netherlands
4,Colin Ackermann,4,10.0,69,2,6.90,34.5,30.0,0,1/17,6,2,43.3,T20I,Netherlands
6,Roelof van der Merwe,8,17.0,132,2,7.76,66.0,51.0,0,1/6,9,4,33.3,T20I,Netherlands
8,Logan van Beek,14,45.4,332,16,7.27,20.8,17.1,0,4/27,24,14,47.4,T20I,Netherlands
10,Aryan Dutt,6,15.0,116,5,7.73,23.2,18.0,0,2/14,3,7,43.3,T20I,Netherlands
12,Ryan Klein,2,4.0,45,1,11.25,45.0,24.0,0,1/18,4,2,20.8,T20I,Netherlands
14,Shariz Ahmad,10,26.0,168,8,6.46,21.0,19.5,0,2/15,9,6,37.8,T20I,Netherlands

In [169]:
df_t20_newzealand = t20_performance_bowling(Newzealand_Players)
df_t20_newzealand = df_t20_newzealand.drop_duplicates(keep='first')
df_t20_newzealand['Format'] = 'T20I'
df_t20_newzealand['Country'] = 'Newzealand'
df_t20_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3645294021.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_newzealand['Format'] = 'T20I'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3645294021.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_newzealand['Country'] = 'Newzealand'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Trent Boult,26,102.4,717,35,6.98,20.5,17.6,0,4/13,81,14,51.0,T20I,Newzealand
2,Mark Chapman,3,4.0,22,1,5.50,22.0,24.0,0,1/9,1,0,33.3,T20I,Newzealand
4,Lockie Ferguson,22,75.2,625,23,8.30,27.2,19.7,0,4/14,56,26,49.6,T20I,Newzealand
6,Matt Henry,6,24.0,173,8,7.21,21.6,18.0,0,3/32,12,9,50.7,T20I,Newzealand
8,Glenn Phillips,8,14.3,104,2,7.17,52.0,43.5,0,1/11,10,2,46.0,T20I,Newzealand
10,Rachin Ravindra,13,37.0,247,11,6.68,22.5,20.2,0,3/22,15,12,45.5,T20I,Newzealand
12,Ish Sodhi,51,182.4,1456,70,7.97,20.8,15.7,0,4/28,85,67,36.0,T20I,Newzealand
14,Tim Southee,39,147.2,1144,57,7.76,20.1,15.5,1,5/25,105,48,49.8,T20I,Newzealand

In [170]:
df_t20_afghanistan = t20_performance_bowling(Afghanistan_Players)
df_t20_afghanistan = df_t20_afghanistan.drop_duplicates(keep='first')
df_t20_afghanistan['Format'] = 'T20I'
df_t20_afghanistan['Country'] = 'Afghanistan'
df_t20_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2976959978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_afghanistan['Format'] = 'T20I'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/2976959978.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_t20_afghanistan['Country'] = 'Afghanistan'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Mohammad Nabi,26,71.0,556,18,7.83,30.9,23.7,0,2/12,44,16,33.1,T20I,Afghanistan
2,Azmatullah Omarzai,22,52.3,455,11,8.67,41.4,28.6,0,3/22,48,13,42.2,T20I,Afghanistan
4,Rashid Khan,34,129.2,801,41,6.19,19.5,18.9,0,4/9,39,26,39.8,T20I,Afghanistan
6,Mujeeb ur Rahman,24,87.0,556,31,6.39,17.9,16.8,1,5/20,42,19,48.1,T20I,Afghanistan
8,Noor Ahmad,1,4.0,10,4,2.50,2.5,6.0,0,4/10,0,0,70.8,T20I,Afghanistan
10,Fazalhaq Farooqi,24,91.0,594,27,6.53,22.0,20.2,0,3/11,61,14,51.3,T20I,Afghanistan

In [ ]:
df_t20_indian

In [171]:
concat_t20 = pd.concat([df_t20_indian, df_t20_australian, df_t20_england,
                        df_t20_southAfrica, df_t20_netherland, df_t20_newzealand,df_t20_afghanistan])

In [172]:
concat_t20

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Hardik Pandya,42,122.0,974,35,7.98,27.8,20.9,0,4/16,79,42,42.9,T20I,India
2,Virat Kohli,1,1.0,6,0,6.00,-,-,0,0/6,0,0,16.7,T20I,India
4,Shreyas Iyer,1,0.2,2,0,6.00,-,-,0,0/2,0,0,50.0,T20I,India
6,Ravindra Jadeja,13,44.0,301,12,6.84,25.1,22.0,0,3/15,22,12,41.3,T20I,India
8,Shardul Thakur,8,25.4,249,10,9.70,24.9,15.4,0,3/42,24,11,41.6,T20I,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Azmatullah Omarzai,22,52.3,455,11,8.67,41.4,28.6,0,3/22,48,13,42.2,T20I,Afghanistan
4,Rashid Khan,34,129.2,801,41,6.19,19.5,18.9,0,4/9,39,26,39.8,T20I,Afghanistan
6,Mujeeb ur Rahman,24,87.0,556,31,6.39,17.9,16.8,1,5/20,42,19,48.1,T20I,Afghanistan
8,Noor Ahmad,1,4.0,10,4,2.50,2.5,6.0,0,4/10,0,0,70.8,T20I,Afghanistan
10,Fazalhaq Farooqi,24,91.0,594,27,6.53,22.0,20.2,0,3/11,61,14,51.3,T20I,Afghanistan

## Bowling Test Performance

In [175]:
### Test Performance Function

def test_performance_bowling(players):
    df_test = pd.DataFrame()
    for i in players:
        name_split = i.split()
        first_name = name_split[0]
        last_name = name_split[1]

        try:
            data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=bowler&format=Test&groupby=player&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-10&start_over=0&end_over=9999")
            
            data_by_series
            x = data_by_series[0]
            x['Player'] = i
            x['Format'] = 'Test'
            df_test = df_test.append(data_by_series[0], ignore_index=True)
        except:
            continue
        
    return df_test

In [176]:
df_test_indian = test_performance_bowling(Indian_Players)
df_test_indian = df_test_indian.drop_duplicates(keep='first')
df_test_indian['Format'] = 'Test'
df_test_indian['Country'] = 'India'
df_test_indian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Rohit Sharma,2,2.1,8,0,3.69,-,-,0,0/1,0,0,38.5,Test,India
2,Shubman Gill,1,1.1,1,0,0.86,-,-,0,0/1,0,0,85.7,Test,India
4,Shreyas Iyer,1,1.0,2,0,2.00,-,-,0,0/2,0,0,66.7,Test,India
6,Ravindra Jadeja,32,554.0,1330,59,2.40,22.5,56.3,3,7/42,146,8,79.8,Test,India
8,Shardul Thakur,17,221.0,770,30,3.48,25.7,44.2,1,7/61,98,3,74.9,Test,India
10,Jasprit Bumrah,26,460.1,1243,52,2.70,23.9,53.1,3,5/24,157,1,82.3,Test,India
12,Mohammed Siraj,37,509.2,1707,54,3.35,31.6,56.6,2,5/60,223,13,75.4,Test,India
14,Kuldeep Yadav,4,48.2,154,10,3.19,15.4,29.0,1,5/40,19,4,76.6,Test,India
16,Mohammed Shami,27,419.1,1376,49,3.28,28.1,51.3,1,5/44,211,2,77.5,Test,India
18,Axar Patel,23,376.2,858,50,2.28,17.2,45.2,5,6/38,85,12,79.5,Test,India

In [177]:
df_test_australian = t20_performance_bowling(Australian_Players)
df_test_australian = df_test_australian.drop_duplicates(keep='first')
df_test_australian['Format'] = 'Test'
df_test_australian['Country'] = 'Australia'
df_test_australian

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/70038723.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_t20 = df_t20.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Pat Cummins,20,73.0,587,18,8.04,32.6,24.3,0,2/22,59,19,50.2,Test,Australia
2,Sean Abbott,5,15.0,109,9,7.27,12.1,10.0,0,4/31,10,5,52.2,Test,Australia
4,Ashton Agar,20,74.4,447,18,5.99,24.8,24.9,1,6/30,18,16,42.6,Test,Australia
6,Cameron Green,7,20.0,178,5,8.90,35.6,24.0,0,2/16,17,9,46.7,Test,Australia
8,Josh Hazlewood,32,117.4,850,49,7.22,17.3,14.4,0,4/12,81,33,51.4,Test,Australia
10,Travis Head,1,2.0,17,0,8.50,-,-,0,0/17,1,1,25.0,Test,Australia
12,Glenn Maxwell,22,41.1,303,10,7.36,30.3,24.7,0,2/14,18,10,32.4,Test,Australia
14,Marcus Stoinis,16,40.0,352,14,8.80,25.1,17.1,0,3/18,23,15,33.8,Test,Australia
16,Adam Zampa,37,135.3,995,43,7.34,23.1,18.9,1,5/19,54,48,37.4,Test,Australia
18,Mitchell Starc,23,88.0,762,26,8.66,29.3,20.3,0,4/20,71,30,52.1,Test,Australia

In [178]:
df_test_england = test_performance_bowling(England_Players)
df_test_england = df_test_england.drop_duplicates(keep='first')
df_test_england['Format'] = 'Test'
df_test_england['Country'] = 'England'
df_test_england

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1251006909.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_england['Format'] = 'Test'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/1251006909.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_england['Country'] = 'England'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Moeen Ali,14,273.0,988,23,3.62,43.0,71.2,0,4/98,97,22,68.9,Test,England
2,Sam Curran,9,109.3,352,6,3.21,58.7,109.5,0,2/27,43,1,75.0,Test,England
4,Dawid Malan,3,11.0,61,2,5.55,30.5,33.0,0,2/33,3,1,37.9,Test,England
6,Joe Root,49,360.5,1216,31,3.37,39.2,69.8,1,5/8,113,22,69.6,Test,England
8,Ben Stokes,35,408.4,1356,39,3.32,34.8,62.9,0,4/33,172,4,78.5,Test,England
10,Mark Wood,27,442.4,1445,54,3.26,26.8,49.2,2,6/37,150,17,72.9,Test,England
12,Chris Woakes,20,343.0,1059,37,3.09,28.6,55.6,1,5/62,134,12,78.4,Test,England

In [179]:
df_test_southAfrica = test_performance_bowling(SouthAfrica_Players)
df_test_southAfrica = df_test_southAfrica.drop_duplicates(keep='first')
df_test_southAfrica['Format'] = 'Test'
df_test_southAfrica['Country'] = 'SouthAfrica'
df_test_southAfrica

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Gerald Coetzee,4,40.1,143,9,3.56,15.9,26.8,0,3/37,25,0,77.6,Test,SouthAfrica
2,Marco Jansen,18,295.5,985,44,3.33,22.4,40.3,1,5/35,125,9,76.2,Test,SouthAfrica
4,Keshav Maharaj,26,457.3,1306,47,2.85,27.8,58.4,3,7/32,117,23,74.9,Test,SouthAfrica
6,Aiden Markram,3,11.1,37,2,3.31,18.5,33.5,0,2/27,4,0,65.7,Test,SouthAfrica
8,Lungi Ngidi,19,233.4,714,33,3.06,21.6,42.5,2,6/71,107,1,78.3,Test,SouthAfrica
10,Anrich Nortje,21,302.5,1068,48,3.53,22.2,37.9,3,6/56,141,2,75.1,Test,SouthAfrica
12,Kagiso Rabada,30,517.3,1734,82,3.35,21.1,37.9,4,5/34,232,5,78.8,Test,SouthAfrica

In [180]:
df_test_netherland = test_performance_bowling(Netherland_Players)
df_test_netherland = df_test_netherland.drop_duplicates(keep='first')
df_test_netherland['Format'] = 'Test'
df_test_netherland['Country'] = 'Netherlands'
df_test_netherland

Empty DataFrame
Columns: [Format, Country]
Index: []

In [181]:
df_test_newzealand = test_performance_bowling(Newzealand_Players)
df_test_newzealand = df_test_newzealand.drop_duplicates(keep='first')
df_test_newzealand['Format'] = 'Test'
df_test_newzealand['Country'] = 'Newzealand'
df_test_newzealand

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/4026088548.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_newzealand['Format'] = 'Test'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/4026088548.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_newzealand['Country'] = 'Newzealand'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Kane Williamson,3,6.0,28,1,4.67,28.0,36.0,0,1/16,2,0,58.3,Test,Newzealand
2,Trent Boult,16,305.5,967,41,3.16,23.6,44.8,2,5/43,127,5,76.7,Test,Newzealand
4,Matt Henry,18,393.0,1184,42,3.01,28.2,56.1,1,7/23,147,6,77.7,Test,Newzealand
6,Rachin Ravindra,5,61.0,188,3,3.08,62.7,122.0,0,3/56,19,4,75.4,Test,Newzealand
8,Ish Sodhi,4,103.0,327,13,3.17,25.2,47.5,1,6/86,36,0,70.9,Test,Newzealand
10,Tim Southee,36,746.3,2162,70,2.90,30.9,64.0,4,6/43,279,12,77.9,Test,Newzealand

In [182]:
df_test_afghanistan = test_performance_bowling(Afghanistan_Players)
df_test_afghanistan = df_test_afghanistan.drop_duplicates(keep='first')
df_test_afghanistan['Format'] = 'Test'
df_test_afghanistan['Country'] = 'Afghanistan'
df_test_afghanistan

/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/429339889.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test = df_test.append(data_by_series[0], ignore_index=True)
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3427234594.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_afghanistan['Format'] = 'Test'
/var/folders/52/10q7kld55jzg1xfhgdgkppq40000gn/T/ipykernel_11534/3427234594.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test_afghanistan['Country'] = 'Afghanistan'

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Hashmatullah Shahidi,2,6.0,28,0,4.67,-,-,0,0/9,2,0,52.8,Test,Afghanistan
2,Ibrahim Zadran,1,2.0,13,1,6.50,13.0,12.0,0,1/13,3,0,66.7,Test,Afghanistan
4,Rahmat Shah,3,11.0,43,1,3.91,43.0,66.0,0,1/30,1,2,57.6,Test,Afghanistan
6,Rashid Khan,2,99.2,275,11,2.77,25.0,54.2,1,7/137,30,4,77.0,Test,Afghanistan

In [183]:

concat_bowling_test = pd.concat([df_test_indian, df_test_australian, df_test_england,
                        df_test_southAfrica, df_test_netherland, df_test_newzealand, df_test_afghanistan])

In [184]:
concat_bowling_test

,Player,Innings,Overs,Runs,Wickets,Econ,Avg,SR,5W,BBI,4s,6s,Dot%,Format,Country
0,Rohit Sharma,2.0,2.1,8.0,0.0,3.69,-,-,0.0,0/1,0.0,0.0,38.5,Test,India
2,Shubman Gill,1.0,1.1,1.0,0.0,0.86,-,-,0.0,0/1,0.0,0.0,85.7,Test,India
4,Shreyas Iyer,1.0,1.0,2.0,0.0,2.00,-,-,0.0,0/2,0.0,0.0,66.7,Test,India
6,Ravindra Jadeja,32.0,554.0,1330.0,59.0,2.40,22.5,56.3,3.0,7/42,146.0,8.0,79.8,Test,India
8,Shardul Thakur,17.0,221.0,770.0,30.0,3.48,25.7,44.2,1.0,7/61,98.0,3.0,74.9,Test,India
10,Jasprit Bumrah,26.0,460.1,1243.0,52.0,2.70,23.9,53.1,3.0,5/24,157.0,1.0,82.3,Test,India
12,Mohammed Siraj,37.0,509.2,1707.0,54.0,3.35,31.6,56.6,2.0,5/60,223.0,13.0,75.4,Test,India
14,Kuldeep Yadav,4.0,48.2,154.0,10.0,3.19,15.4,29.0,1.0,5/40,19.0,4.0,76.6,Test,India
16,Mohammed Shami,27.0,419.1,1376.0,49.0,3.28,28.1,51.3,1.0,5/44,211.0,2.0,77.5,Test,India
18,Axar Patel,23.0,376.2,858.0,50.0,2.28,17.2,45.2,5.0,6/38,85.0,12.0,79.5,Test,India
0,Pat Cummins,20.0,73.0,587.0,18.0,8.04,32.6,24.3,0.0,2/22,59.0,19.0,50.2,Test,Australia
2,Sean Abbott,5.0,15.0,109.0,9.0,7.27,12.1,10.0,0.0,4/31,10.0,5.0,52.2,Test,Australia
4,Ashton Agar,20.0,74.4,447.0,18.0,5.99,24.8,24.9,1.0,6/30,18.0,16.0,42.6,Test,Australia
6,Cameron Green,7.0,20.0,178.0,5.0,8.90,35.6,24.0,0.0,2/16,17.0,9.0,46.7,Test,Australia
8,Josh Hazlewood,32.0,117.4,850.0,49.0,7.22,17.3,14.4,0.0,4/12,81.0,33.0,51.4,Test,Australia
10,Travis Head,1.0,2.0,17.0,0.0,8.50,-,-,0.0,0/17,1.0,1.0,25.0,Test,Australia
12,Glenn Maxwell,22.0,41.1,303.0,10.0,7.36,30.3,24.7,0.0,2/14,18.0,10.0,32.4,Test,Australia
14,Marcus Stoinis,16.0,40.0,352.0,14.0,8.80,25.1,17.1,0.0,3/18,23.0,15.0,33.8,Test,Australia
16,Adam Zampa,37.0,135.3,995.0,43.0,7.34,23.1,18.9,1.0,5/19,54.0,48.0,37.4,Test,Australia
18,Mitchell Starc,23.0,88.0,762.0,26.0,8.66,29.3,20.3,0.0,4/20,71.0,30.0,52.1,Test,Australia
0,Moeen Ali,14.0,273.0,988.0,23.0,3.62,43.0,71.2,0.0,4/98,97.0,22.0,68.9,Test,England
2,Sam Curran,9.0,109.3,352.0,6.0,3.21,58.7,109.5,0.0,2/27,43.0,1.0,75.0,Test,England
4,Dawid Malan,3.0,11.0,61.0,2.0,5.55,30.5,33.0,0.0,2/33,3.0,1.0,37.9,Test,England
6,Joe Root,49.0,360.5,1216.0,31.0,3.37,39.2,69.8,1.0,5/8,113.0,22.0,69.6,Test,England
8,Ben Stokes,35.0,408.4,1356.0,39.0,3.32,34.8,62.9,0.0,4/33,172.0,4.0,78.5,Test,England
10,Mark Wood,27.0,442.4,1445.0,54.0,3.26,26.8,49.2,2.0,6/37,150.0,17.0,72.9,Test,England
12,Chris Woakes,20.0,343.0,1059.0,37.0,3.09,28.6,55.6,1.0,5/62,134.0,12.0,78.4,Test,England
0,Gerald Coetzee,4.0,40.1,143.0,9.0,3.56,15.9,26.8,0.0,3/37,25.0,0.0,77.6,Test,SouthAfrica
2,Marco Jansen,18.0,295.5,985.0,44.0,3.33,22.4,40.3,1.0,5/35,125.0,9.0,76.2,Test,SouthAfrica
4,Keshav Maharaj,26.0,457.3,1306.0,47.0,2.85,27.8,58.4,3.0,7/32,117.0,23.0,74.9,Test,SouthAfrica
6,Aiden Markram,3.0,11.1,37.0,2.0,3.31,18.5,33.5,0.0,2/27,4.0,0.0,65.7,Test,SouthAfrica
8,Lungi Ngidi,19.0,233.4,714.0,33.0,3.06,21.6,42.5,2.0,6/71,107.0,1.0,78.3,Test,SouthAfrica
10,Anrich Nortje,21.0,302.5,1068.0,48.0,3.53,22.2,37.9,3.0,6/56,141.0,2.0,75.1,Test,SouthAfrica
12,Kagiso Rabada,30.0,517.3,1734.0,82.0,3.35,21.1,37.9,4.0,5/34,232.0,5.0,78.8,Test,SouthAfrica
0,Kane Williamson,3.0,6.0,28.0,1.0,4.67,28.0,36.0,0.0,1/16,2.0,0.0,58.3,Test,Newzealand
2,Trent Boult,16.0,305.5,967.0,41.0,3.16,23.6,44.8,2.0,5/43,127.0,5.0,76.7,Test,Newzealand
4,Matt Henry,18.0,393.0,1184.0,42.0,3.01,28.2,56.1,1.0,7/23,147.0,6.0,77.7,Test,Newzealand
6,Rachin Ravindra,5.0,61.0,188.0,3.0,3.08,62.7,122.0,0.0,3/56,19.0,4.0,75.4,Test,Newzealand
8,Ish Sodhi,4.0,103.0,327.0,13.0,3.17,25.2,47.5,1.0,6/86,36.0,0.0,70.9,Test,Newzealand
10,Tim Southee,36.0,746.3,2162.0,70.0,2.90,30.9,64.0,4.0,6/43,279.0,12.0,77.9,Test,Newzealand
0,Hashmatullah Shahidi,2.0,6.0,28.0,0.0,4.67,-,-,0.0,0/9,2.0,0.0,52.8,Test,Afghanistan
2,Ibrahim Zadran,1.0,2.0,13.0,1.0,6.50,13.0,12.0,0.0,1/13,3.0,0.0,66.7,Test,Afghanistan
4,Rahmat Shah,3.0,11.0,43.0,1.0,3.91,43.0,66.0,0.0,1/30,1.0,2.0,57.6,Test,Afghanistan
6,Rashid Khan,2.0,99.2,275.0,11.0,2.77,25.0,54.2,1.0,7/137,30.0,4.0,77.0,Test,Afghanistan

In [186]:
## Joining multiple dataframes 


combined_bowling_df = pd.concat([concat_bowling_odi,concat_t20,concat_bowling_test])

In [187]:
combined_bowling_df.to_excel("Bowling_performance.xlsx")

## Indian Players Overall Performance By Series from 2021-2023

In [ ]:
df = pd.DataFrame()
#df['Player'] = new_column

for i in Indian_Players:
    name_split = i.split()
    first_name = name_split[0]
    last_name = name_split[1]
    
    #url = f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=all&format=ODI&groupby=series&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999
        
        
    data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=all&format=ODI&groupby=series&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999")
    
    x = data_by_series[0]
    
    x['Player'] = i
    
    df = df.append(data_by_series[0], ignore_index=True)

In [ ]:
df

In [ ]:
df.to_csv('Series.csv')

In [ ]:
data_by_series = 
pd.read_html("http://www.cricmetric.com/playerstats.py?player=V+Kohli&role=all&format=ODI&groupby=series&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999")

In [ ]:
data_by_series[0]

In [ ]:
!pip install html5lib

### Players Performance against Opposition team who visited India from 2021-23

In [ ]:

df = pd.DataFrame()
#df['Player'] = new_column

for i in Indian_Players:
    
    
    print(i)
    name_split = i.split()
    first_name = name_split[0]
    last_name = name_split[1]
    #print(first_name)
    #print(last_name)
    
    #url = f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=all&format=ODI&groupby=series&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&start_over=0&end_over=9999
        
    url = f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&vcountry=India&start_over=0&end_over=9999&opp_team=New%20Zealand"

    try:
        data_by_series = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&vcountry=India&start_over=0&end_over=9999&opp_team=New%20Zealand")
        data_by_series
        x = data_by_series[0]
        x['Player'] = i
        df = df.append(data_by_series[0], ignore_index=True)
    except:
        continue
        
    
#Opposition_Team_Visited_India  = pd.read_html(f"http://www.cricmetric.com/playerstats.py?player={first_name}+{last_name}&role=batsman&format=ODI&groupby=opp_team&playerStatsFilters=on&start_date=2021-01-01&end_date=2023-09-30&vcountry=India&start_over=0&end_over=9999&opp_team=New%20Zealand")

In [ ]:
df

In [ ]:
Opposition_Team_Visited_India[0]